/* assets/css/fonts.css */
@font-face {
  font-family: 'RoobertPRO';
  src: url('/fonts/RoobertPRO-Light.woff2') format('woff2'),
       url('/fonts/RoobertPRO-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RoobertPRO';
  src: url('/fonts/RoobertPRO-Regular.woff2') format('woff2'),
       url('/fonts/RoobertPRO-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RoobertPRO';
  src: url('/fonts/RoobertPRO-Medium.woff2') format('woff2'),
       url('/fonts/RoobertPRO-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RoobertPRO';
  src: url('/fonts/RoobertPRO-Bold.woff2') format('woff2'),
       url('/fonts/RoobertPRO-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}